/*GENERAL*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato;
  box-sizing: border-box;
}

h1 {
  font-size: 0.9em;
}

h2 {
  font-size: 0.85em;
}

h3 {
  font-size: 0.8em;
}

a {
  text-decoration: none;
  color: #fff;
}

label {
  font-size: 0.6em;
}

p {
  font-size: 0.8em;
}

ul {
  list-style: none;
}

.only-mobile {
  display: block;
}

.only-desktop {
  display: none !important;
}

.line {
  margin: 10px 0;
  width: 100%;
  height: 1px;
  border: 1px solid #fff;
}

.wrap {
  width: 95%;
  margin: 0 auto;
}

.icono {
  color: #fff;
  font-size: 1.2em;
}

/*COLUMNAS*/
.cols {
  display: flex;
}

.col-1 {
  flex-grow: 1;
}

.col-2 {
  flex-grow: 2;
}

.col-3 {
  flex-grow: 3;
}

.col-4 {
  flex-grow: 4;
}

/*ICONOS*/
.ic-menu {
  background: #fff;
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  background-image: url("../img/iconos/menu.svg");
  background-repeat: no-repeat;
}

/*---------------------------------------------*/
/*Header*/
header {
  height: 50px;
  background: #333333;
}
header .cabecera {
  display: flex;
  align-items: center;
  height: inherit;
  width: 90%;
  margin: 0 auto;
  position: relative;
}
header .cabecera .logo {
  position: absolute;
  left: 0;
}
header .cabecera .ic-menu {
  position: absolute;
  right: 0;
}
header .menu {
  position: absolute;
  z-index: 100;
  display: block;
  left: -100%;
  width: 100%;
  transition: all 0.5s;
}
header .menu.active {
  display: block;
  transform: translateX(100%);
  transition: all 0.5s;
}
header .menu ul {
  background: rgba(55, 55, 55, 0.9);
  text-align: center;
}
header .menu ul li {
  height: 12vh;
}
header .menu ul li a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
header .menu ul li a:hover {
  background: #333333;
}

.hero {
  position: relative;
}
.hero img {
  width: 100%;
}
.hero .texto-hero {
  position: absolute;
  top: 30%;
}
.hero .texto-hero h1 {
  font-size: 0.9em;
  color: #fff;
}
.hero .texto-hero label {
  font-size: 0.65em;
  color: #fff;
}
.hero .texto-hero a {
  font-size: 0.65em;
  position: absolute;
  display: block;
  left: 20%;
  margin-top: 15px;
  border: 1px solid #fff;
  padding: 8px;
  color: #fff;
}

.seccion-1 h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 10px auto;
}
.seccion-1 p {
  text-align: center;
}
.seccion-1 h3 {
  font-size: 0.8em;
  text-align: center;
  margin: 10px auto;
}
.seccion-1 .blog {
  display: block;
}
.seccion-1 .blog .container-blog {
  margin-bottom: 20px;
}
.seccion-1 .blog .container-blog img {
  width: 100%;
}

.seccion-2 {
  background: #333333;
  padding: 15px 0;
}
.seccion-2 p {
  margin-bottom: 15px;
  color: #fff;
  text-align: center;
}
.seccion-2 .mascotas .mascota {
  margin-bottom: 10px;
}
.seccion-2 .mascotas .mascota img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}
.seccion-2 .mascotas .mascota label {
  display: block;
  text-align: center;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
}

footer {
  position: relative;
  background: #fff;
  padding: 10px 0;
}
footer label {
  display: block;
  text-align: center;
  color: #000;
}
footer label a {
  color: #000;
  font-weight: bold;
}

@media only screen and (min-width: 500px) {
  p {
    font-size: 0.96em;
  }

  label {
    font-size: 0.72em;
  }

  h1 {
    font-size: 1.08em;
  }

  h2 {
    font-size: 1.08em;
  }

  h3 {
    font-size: 1.08em;
  }

  .wrap {
    width: 70%;
  }

  .hero img {
    max-height: 250px;
    object-fit: cover;
  }
  .hero .texto-hero {
    top: 30%;
    left: 5%;
  }
  .hero .texto-hero h1 {
    font-size: 1.08em;
  }
  .hero .texto-hero label {
    font-size: 0.78em;
  }

  .seccion-2 .mascotas {
    display: flex;
    flex-wrap: wrap;
  }
  .seccion-2 .mascotas .mascota {
    flex-grow: 1;
  }
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 1.28em;
  }

  label {
    font-size: 0.96em;
  }

  h1 {
    font-size: 1.44em;
  }

  h2 {
    font-size: 1.44em;
  }

  h3 {
    font-size: 1.44em;
  }

  header {
    background: yellow;
    height: 80px;
  }

  .icono {
    font-size: 1.92em;
  }

  .ic-menu {
    width: 56px;
    height: 56px;
  }

  .wrap {
    width: 70%;
  }

  .hero img {
    max-height: 350px;
    object-fit: cover;
  }
  .hero .texto-hero {
    top: 50%;
    left: 5%;
  }
  .hero .texto-hero h1 {
    font-size: 1.44em;
  }
  .hero .texto-hero label {
    font-size: 1.04em;
  }
  .hero .texto-hero a {
    font-size: 1.04em;
  }
}
@media only screen and (min-width: 1024px) {
  p {
    font-size: 1.44em;
  }

  h1 {
    font-size: 1.62em;
  }

  h2 {
    font-size: 1.62em;
  }

  h3 {
    font-size: 1.62em;
  }

  header {
    background: green;
    height: 90px;
  }

  .icono {
    font-size: 2.16em;
  }

  .ic-menu {
    width: 63px;
    height: 63px;
  }

  .wrap {
    width: 90%;
  }

  .hero img {
    max-height: 490px;
    object-fit: cover;
  }
  .hero .texto-hero {
    top: 30%;
    left: 5%;
  }
  .hero .texto-hero h1 {
    font-size: 1.62em;
  }
  .hero .texto-hero label {
    font-size: 1.17em;
  }
  .hero .texto-hero a {
    font-size: 1.17em;
  }

  .seccion-1 {
    margin: 20px 0;
  }
  .seccion-1 .blog {
    display: flex;
  }
  .seccion-1 .blog .container-blog {
    flex-grow: 1;
    margin: 0 10px;
  }

  .seccion-2 {
    margin: 20px 0;
  }
}

/*# sourceMappingURL=estilos.css.map */
