/*ICONOS*/
.ic-menu {
    background: #fff;
    display: block;
    width: $tamanoIconoMenu;
    height: $tamanoIconoMenu;
    border-radius: 10px;
    background-image: url("../img/iconos/menu.svg");
    background-repeat: no-repeat;
}
