@media only screen and (min-width: $celularHorizontal) {
    $alturaHeader: $alturaHeader * $mult1;
    $tituloHeader: $tituloHeader * $mult1;
    $tamanoIconoMenu: $tamanoIconoMenu * $mult1;
    $tituloHero: $tituloHero * $mult1;
    $labelHero: $labelHero * $mult1;
    $h1: $h1 * $mult1;
    $h2: $h2 * $mult1;
    $h3: $h3 * $mult1;
    $p: $p * $mult1;
    $texto: $texto * $mult1;

    p {
        font-size: $p;
    }
    label {
        font-size: $texto;
    }
    h1 {
        font-size: $h1;
    }
    h2 {
        font-size: $h1;
    }
    h3 {
        font-size: $h1;
    }
    .wrap {
        width: 70%;
    }
    .hero {
        img {
            max-height: 250px;
            object-fit: cover;
        }
        .texto-hero {
            top: 30%;
            left: 5%;
            h1 {
                font-size: $tituloHero;
            }
            label {
                font-size: $labelHero;
            }
        }
    }
    .seccion-1 {
        h3 {
            font-size: $h3;
        }
    }
    .seccion-2 {
        .mascotas {
            display: flex;
            flex-wrap: wrap;
            .mascota {
                flex-grow: 1;
            }
        }
    }
    footer {
        label {
            font-size: $texto * 1.5;
        }
    }
}

@media only screen and (min-width: $tablet) {
    $alturaHeader: $alturaHeader * $mult2;
    $tituloHeader: $tituloHeader * $mult2;
    $tamanoIconoMenu: $tamanoIconoMenu * $mult2;
    $tituloHero: $tituloHero * $mult2;
    $labelHero: $labelHero * $mult2;
    $h1: $h1 * $mult2;
    $h2: $h2 * $mult2;
    $h3: $h3 * $mult2;
    $p: $p * $mult2;
    $texto: $texto * $mult2;

    p {
        font-size: $p;
    }
    label {
        font-size: $texto;
    }
    h1 {
        font-size: $h1;
    }
    h2 {
        font-size: $h1;
    }
    h3 {
        font-size: $h1;
    }
    header {
        height: $alturaHeader;
    }
    .seccion-1 {
        h3 {
            font-size: $h3;
        }
    }
    .icono {
        font-size: $tituloHeader;
    }
    .ic-menu {
        width: $tamanoIconoMenu;
        height: $tamanoIconoMenu;
    }
    .wrap {
        width: 70%;
    }
    .hero {
        img {
            max-height: 350px;
            object-fit: cover;
        }
        .texto-hero {
            top: 50%;
            left: 5%;
            // transform: translateY(-50%);
            h1 {
                font-size: $tituloHero;
            }
            label {
                font-size: $labelHero;
            }
            a {
                font-size: $labelHero;
            }
        }
    }
}
@media only screen and (min-width: $laptop) {
    $alturaHeader: $alturaHeader * $mult3;
    $tituloHeader: $tituloHeader * $mult3;
    $tamanoIconoMenu: $tamanoIconoMenu * $mult3;
    $tituloHero: $tituloHero * $mult3;
    $labelHero: $labelHero * $mult3;
    $h1: $h1 * $mult3;
    $h2: $h2 * $mult3;
    $h3: $h3 * $mult3;
    $p: $p * $mult3;
    $texto: $texto * $mult3;

    .only-mobile {
        display: none;
    }
    .only-desktop {
        display: block;
    }
    p {
        font-size: $p;
    }
    h1 {
        font-size: $h1;
    }
    h2 {
        font-size: $h1;
    }
    h3 {
        font-size: $h1;
    }
    header {
        .cabecera {
            .redes-sociales {
                position: absolute;
                right: 0;
                i {
                    color: $color2;
                    font-size: $tamanoIconoMenu;
                    margin-left: 15px;
                    cursor: pointer;
                }
            }
        }
        background: $color1;
        height: $alturaHeader;
        .menu {
            left: initial;
            ul {
                flex-direction: row;
                justify-content: space-around;
                background: rgba(255, 255, 255, 0.3);
                li {
                    flex-grow: 1;
                    a {
                        color: $color2;
                        &:hover {
                            background: rgba(255, 255, 255, 0.35);
                        }
                    }
                }
            }
        }
    }
    .seccion-1 {
        h3 {
            font-size: $h3;
        }
    }
    .icono {
        font-size: $tituloHeader;
    }
    .ic-menu {
        width: $tamanoIconoMenu;
        height: $tamanoIconoMenu;
    }
    .wrap {
        width: 90%;
    }
    .hero {
        img {
            max-height: 490px;
            object-fit: cover;
        }
        .texto-hero {
            top: 50%;
            transform: translateY(-50%);
            left: 5%;
            h1 {
                font-size: $tituloHero * 1.5;
            }
            label {
                font-size: $labelHero * 1.2;
            }
            a {
                font-size: $labelHero * 1.2;
            }
        }
    }
    .seccion-1 {
        margin: 20px 0;
        .blog {
            display: flex;
            .container-blog {
                flex-grow: 1;
                margin: 0 10px;
            }
        }
    }
    .seccion-2 {
        margin: 20px 0;
        padding: 40px 0;
    }
    footer {
        //Coment: Aquí use flex en vez position absolute, porque son menos lineas de CSS :'v
        .wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            label {
                font-size: $texto * 1.5;
            }
            .nombre-creador {
                &:hover {
                    color: blue;
                    a{
                        color: blue;
                    }
                }
            }
        }

        // .wrap{
        //     position: relative;
        // }
        // .nombre-pagina{
        //     position: absolute;
        //     left: 0;
        // }
        // .nombre-creador{
        //     position: absolute;
        //     right: 0;
        // }
        // label{
        //     font-size: $texto*1.5;
        // }
    }
}
