//PALETA DE COLORES
$color1: #333333;
$color2: #fff;
$color3: #000;
$color4: rgba(55, 55, 55, 0.9);
$color5: rgb(255, 255, 255, 0.2);

//FUENTES
$fuente: Lato;
$tituloHeader: 1.2em;
$tituloHero: 0.9em;
$h1: 0.9em;
$h2: 0.85em;
$h3: 0.8em;
$p: 0.8em;

$labelHero: 0.65em;
$texto: 0.75em;

//TAMAÑOS
$alturaHeader : 50px;
$tamanoIconoMenu : 35px;

$celularHorizontal: 500px;
$tablet: 768px;
$laptop: 1024px;

//TIEMPO
$tiempoDeslizamientoMenu: 0.5s;

//MULTIPLICADORES
$mult1: 1.2;
$mult2: 1.6;
$mult3: 1.4;
