@import "variables";
@import "general";
@import "iconos";
/*---------------------------------------------*/
@import "header";
.hero {
    position: relative;
    img {
        width: 100%;
    }
    .texto-hero {
        & {
            position: absolute;
            top: 30%;
            // transform: translateY(-100%);
        }
        h1 {
            font-size: $h1;
            color: $color2;
        }
        label {
            font-size: $labelHero;
            color: $color2;
        }
        a {
            font-size: $labelHero;
            position: absolute;
            display: block;
            left: 20%;
            margin-top: 15px;
            border: 1px solid $color2;
            padding: 8px;
            color: $color2;
        }
    }
}

.seccion-1 {
    h2 {
        text-align: center;
        text-transform: uppercase;
        margin: 10px auto;
    }
    p {
        text-align: center;
    }
    h3 {
        font-size: $h3;
        text-align: center;
        margin: 10px auto;
    }
    .blog {
        display: block;
        .container-blog {
            & {
                margin-bottom: 20px;
            }
            img {
                width: 100%;
            }
        }
    }
}

.seccion-2 {
    & {
        background: $color1;
        padding: 15px 0;
    }
    p {
        margin-bottom: 15px;
        color: $color2;
        text-align: center;
    }
    .mascotas {
        .mascota {
            margin-bottom: 10px;

            img {
                display: block;
                margin: 0 auto;
                border-radius: 50%;
            }
            label {
                display: block;
                text-align: center;
                color: $color2;
                margin-top: 10px;
                margin-bottom: 15px;
            }
        }
    }
}

@import "footer";
@import "mediaQuerys";
