header
    div
        a(href="index.html").logo
        a.ic-menu
    nav.menu
        ul
            li
                a(href="index.html")
            li
                a(href="nosotros.html")
            li
                a(href="productos.html")
            li
                a(href="contacto.html")
                