<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title My pets | Inicio
        link(rel="stylesheet" href="estilos.css")
    body 

        include header

        div.hero
            div.wrap
                img(src="/img/hero.jpg" alt="")
                h1 Mascotas y niños felices
                label ¿Cuál es la mejor mascota para usted
                a(href="#") Leer más

        section.seccion-1
            div.wrap
                h2 Bienvenidos a nuestro club
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nihil minima assumenda ad molestias aut?
                h3 Lo último de nuestro blog
                div.blog
                    div.container-blog
                        img(src="/img/blog-1")
                        p Escoge tu mascota preferida
                    div.container-blog
                        img(src="/img/blog-2")
                        p Los animales necesitan cariño
                    div.container-blog
                        img(src="/img/blog-3")
                        p Camina con tu mascota

        section.seccion-2
            div.wrap
                p Para muchos de nosotros las mascotas no son simples compañeros, son miembros de familia
                div.mascotas
                    div.mascota
                        img(src="/img/mascota-1")
                        label Max
                    div.mascota
                        img(src="/img/mascota-2")
                        label Jerry
                    div.mascota
                        img(src="/img/mascota-3")
                        label Tom
                    div.mascota
                        img(src="/img/mascota-4")
                        label Sam

        include footer



                
           
            



